AUTOFAUCET_BASE_URL=https://autofaucet.org
AUTOFAUCET_TARGET_URL=https://autofaucet.org/earn/faucet
AUTOFAUCET_SITE_KEY=0x4AAAAAAAeegevyhnJu7zGA
AUTOFAUCET_POST_URL=https://autofaucet.org/rqs/replace-me
AUTOFAUCET_2CAPTCHA_API_KEY=replace-me
AUTOFAUCET_COOKIE_NAME=replace-me
AUTOFAUCET_COOKIE_VALUE=replace-me
AUTOFAUCET_EXPECTED_USERNAME=your-username
AUTOFAUCET_DIRECT_SOLVER_API_URL=https://api.nekolabs.web.id/tools/bypass/cf-turnstile
AUTOFAUCET_HEADLESS=0
